*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Amaranth", sans-serif;

}

.container{
    background-color: black;
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    padding-top: 100px;
    justify-content: center;
    padding-bottom: 20px;

}
.main{
    background-color: rgba(41, 40, 40, 0.811);
    height:auto;
    width: 70%;
    padding: 30px;
    box-shadow: 0px 0px 20px 0px  rgb(255, 255, 255);
    border-radius: 20px;
    max-width: 700px;

    
}
h3{
    text-align: center;
    font-size: 23px;
    letter-spacing: 2px;
    padding: 20px 30px;
}
input{
    height: 50px;
    width: 60%;
    background-color: rgb(0, 0, 0);
    outline: none;
    border: none;
    box-shadow: 0px 0px 20px 0px  rgb(255, 255, 255);
    border-radius: 20px;
    margin: 10px 10px ;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    

}
button{
    height: 50px;
    width: 18%;
    background-color: rgb(0, 0, 0);
    outline: none;
    border: none;
    box-shadow: 0px 0px 20px 0px  rgb(255, 255, 255);
    border-radius: 20px;
    margin: 10px 20px ;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
ul li{
    height: 22px;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 25px;
    /* overflow: hidden; */

}
ul li span{
    position: absolute;
    right:27%;
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0px 0px 20px 0px  rgb(0, 0, 0);
}